# Test de l’algorithme

In [1]:
# Import des bibliothèques

import pandas as pd
import pickle

In [2]:
# Import du fichier

billets_test2 = pd.read_csv("billets_test_pavel.csv")
billets_test2

   diagonal  height_left  height_right  margin_low  margin_up  length   id
0    172.09       103.95        103.73        4.39       3.09  113.19  B_1
1    171.52       104.17        104.03        5.27       3.16  111.82  B_2
2    171.78       103.80        103.75        3.81       3.24  113.39  B_3
3    172.02       104.08        103.99        5.57       3.30  111.10  B_4
4    171.79       104.34        104.37        5.00       3.07  111.87  B_5

In [3]:
# Charger le modèle à partir du fichier

with open('logistic_regression_model.pkl', 'rb') as file:
    estimator = pickle.load(file)

# Utiliser le modèle pour prédire sur de nouvelles données

X_new = billets_test2[['height_right', 'margin_up', 'length', 'margin_low']]
y_new_pred = estimator.predict(X_new)
billets_test2 = billets_test2.assign(target=y_new_pred)

In [4]:
# Résultats

billets_test2

,diagonal,height_left,height_right,margin_low,margin_up,length,id,target
0,172.09,103.95,103.73,4.39,3.09,113.19,B_1,True
1,171.52,104.17,104.03,5.27,3.16,111.82,B_2,False
2,171.78,103.80,103.75,3.81,3.24,113.39,B_3,True
3,172.02,104.08,103.99,5.57,3.30,111.10,B_4,False
4,171.79,104.34,104.37,5.00,3.07,111.87,B_5,False